$background:#ffffff;
$primary_color:#BC926D;
$secondary_color:#cdb472;
$text_highlight_color:$primary_color;
$dark_highlight_color:#D39713;
$dark_text_color:#fff;
$dark_heading_color:#fff;
$button_color:$secondary_color;

$woocommerce_accent_color:#96588a;
